* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #7fd60c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  color: white;
  letter-spacing: 2px;
}

.task-input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 250px;
  margin-right: 0.5rem;
}

.task-input:focus {
  border-color: #555;
}

.add-task-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #003f7d;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.add-task-btn:hover {
  background-color: #15ff00;
}
